body
{
    display: flex;
    flex-direction: column;
    border: 2px salid blue;
    background-color: aqua;

header {class="logo"
}
}
main
{
    display: flex;  
    flex-direction: row;
    flex: auto;
}

article {flex: 2;
    overflow-y: auto
}
aside {flex: 1;
    overflow-y: auto
}